@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Organic Mind</title>
    @* <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" /> *@
    @Html.Partial("~/Views/Common/Head.cshtml")
    <script src="~/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body class="overflow-hidden">
    @Html.Partial("~/Views/Common/taskTable.cshtml")
</body>
</html>

