USE [master]
GO
Drop database [PRN211_project]
GO
Create database [PRN211_project]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRN211_project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRN211_project]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/20/2024 8:52:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[FullName] [nvarchar](400) NULL,
	[Email] [nvarchar](max) NULL,
	[Roll] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[List]    Script Date: 3/20/2024 8:52:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[List](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[AccountID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StickyNote]    Script Date: 3/20/2024 8:52:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StickyNote](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
 CONSTRAINT [StickyNote_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubTask]    Script Date: 3/20/2024 8:52:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubTask](
	[Id] [int] NOT NULL,
	[TaskId] [int] NULL,
	[Name] [nvarchar](max) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 3/20/2024 8:52:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagsTask]    Script Date: 3/20/2024 8:52:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagsTask](
	[TagsId] [int] NOT NULL,
	[TaskId] [int] NOT NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TagsId] ASC,
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 3/20/2024 8:52:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[DueDate] [date] NULL,
	[Status] [bit] NULL,
	[ListId] [int] NULL,
	[CreateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([Id], [UserName], [Password], [FullName], [Email], [Roll]) VALUES (1, N'huybach', N'123', N'Lê Huy Bách ', N'bachlh03@gmail.com', 1)
INSERT [dbo].[Account] ([Id], [UserName], [Password], [FullName], [Email], [Roll]) VALUES (2, N'admin', N'123', N'admin a', N'bach@gmail.com', 0)
INSERT [dbo].[Account] ([Id], [UserName], [Password], [FullName], [Email], [Roll]) VALUES (3, N'huulong', N'123', N'Tran Huu Long', N'hulong02@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[List] ON 

INSERT [dbo].[List] ([Id], [Name], [AccountID]) VALUES (2, N'Default', 2)
INSERT [dbo].[List] ([Id], [Name], [AccountID]) VALUES (5, N'Document 3', 1)
INSERT [dbo].[List] ([Id], [Name], [AccountID]) VALUES (12, N'Document', 1)
SET IDENTITY_INSERT [dbo].[List] OFF
GO
SET IDENTITY_INSERT [dbo].[StickyNote] ON 

INSERT [dbo].[StickyNote] ([Id], [AccountId], [Name], [Details]) VALUES (2, 1, N'Content Strategy 123', N'Would need time to get insights (goals, personals, budget, audits), but after, it would be good to focus on assembling my team (start with SEO specialist, then perhaps an email marketer?). Also need to brainstorm on tooling.')
INSERT [dbo].[StickyNote] ([Id], [AccountId], [Name], [Details]) VALUES (4, 1, N'Banner', N'Notes from the workshop: 
- Sizing matters 
- Choose distinctive imagery 
- The landing page must match the display ad')
INSERT [dbo].[StickyNote] ([Id], [AccountId], [Name], [Details]) VALUES (9, 1, N'Password Facebook', N'asdfasdf')
SET IDENTITY_INSERT [dbo].[StickyNote] OFF
GO
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([Id], [Name]) VALUES (1, N'school')
INSERT [dbo].[Tags] ([Id], [Name]) VALUES (2, N'home')
INSERT [dbo].[Tags] ([Id], [Name]) VALUES (3, N'work')
SET IDENTITY_INSERT [dbo].[Tags] OFF
GO
INSERT [dbo].[TagsTask] ([TagsId], [TaskId], [status]) VALUES (1, 21, 1)
INSERT [dbo].[TagsTask] ([TagsId], [TaskId], [status]) VALUES (1, 25, 1)
INSERT [dbo].[TagsTask] ([TagsId], [TaskId], [status]) VALUES (2, 21, 1)
GO
SET IDENTITY_INSERT [dbo].[Task] ON 

INSERT [dbo].[Task] ([Id], [Name], [Description], [DueDate], [Status], [ListId], [CreateDate]) VALUES (25, N'qwertwrtwert', N'<p>qwertyuiop</p>', CAST(N'2024-03-09' AS Date), 0, 5, CAST(N'2024-03-09T00:29:36.977' AS DateTime))
SET IDENTITY_INSERT [dbo].[Task] OFF
GO
ALTER TABLE [dbo].[SubTask] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[TagsTask] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Task] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[List]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[StickyNote]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[SubTask]  WITH CHECK ADD  CONSTRAINT [SubTask_Task_Id_fk] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Task] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubTask] CHECK CONSTRAINT [SubTask_Task_Id_fk]
GO
ALTER TABLE [dbo].[TagsTask]  WITH CHECK ADD  CONSTRAINT [FK__TagsTask__TagsId__440B1D61] FOREIGN KEY([TagsId])
REFERENCES [dbo].[Tags] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TagsTask] CHECK CONSTRAINT [FK__TagsTask__TagsId__440B1D61]
GO
ALTER TABLE [dbo].[TagsTask]  WITH CHECK ADD  CONSTRAINT [FK__TagsTask__TaskId__44FF419A] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Task] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TagsTask] CHECK CONSTRAINT [FK__TagsTask__TaskId__44FF419A]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [Task_List_Id_fk] FOREIGN KEY([ListId])
REFERENCES [dbo].[List] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [Task_List_Id_fk]
GO
USE [master]
GO
