@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@using Microsoft.AspNetCore.Mvc;
@using PRN211_project.Models
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Organic Mind</title>
    <!-- Add your head content here -->
    @* <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" /> *@
    <link rel="icon" type="image/x-icon" href="~/image/icon/logo-web.ico">
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        .hidden {
            display: none;
        }

        #alertDiv {
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            opacity: 0;
            transform: translateY(-20px);
        }

            #alertDiv.visible {
                opacity: 1;
                transform: translateY(0);
            }
    </style>
</head>
<body>
    <div class="grid grid-cols-4 h-[95vh] m-5 gap-x-5 ">
        <div class="col-span-2 bg-black border-[1px] rounded-xl">
            <p class="text-amber-50 text-4xl font-bold w-20 m-5 font-sans mb-10">Organic Mind</p>
            <div class="h-[450px] flex justify-center">
                <img src="~/image/landing.png" class="h-full" />
            </div>
        </div>
        <div class="col-span-2 border-[1px] rounded-xl flex justify-center items-center static">
            <div class="absolute top-2 right-3" >
            <div id="alertDiv" role="alert" class="flex w-10/12 m-5 pl-4 py-4 text-base text-white bg-gray-900/70 backdrop-blur-sm rounded-lg font-regular hidden z-[99]">
                <div class="shrink-0">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"></path>
                    </svg>
                </div>
                <div class="ml-3 mr-12" id="out">@ViewBag.mess</div>
            </div>
            </div>
            <div class="w-9/12">
                <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
                    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                        <img class="mx-auto h-10 w-[50px] object-cover" src="~/image/svg/logo-web.svg" alt="Your Company">
                        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
                    </div>

                    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                        @model Account;
                        <form class="space-y-6" asp-controller="Auth" asp-method="Login" method="post">
                            <div>
                                <label for="username" class="block text-sm font-medium leading-6 text-gray-900">UserName</label>
                                <div class="mt-2">
                                    <input asp-for="UserName"
                                           id="username"
                                           name="username"
                                           type="text"
                                           required
                                           class="pl-2  block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-amber-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>
                            <div>
                                <div class="flex items-center justify-between">
                                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                                    <div class="text-sm">
                                        @* <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a> *@
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <input asp-for="Password"
                                           id="password"
                                           name="password"
                                           type="password"
                                           required
                                           class="pl-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-amber-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>
                            
                            <div>
                                <button type="submit"  class="flex w-full justify-center rounded-md bg-amber-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-amber-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>
                            </div>
                        </form>

                        <p class="mt-10 text-center text-sm text-gray-500">
                            Not a member? 
                            <a href="/auth/signup" class="font-semibold leading-6 text-amber-600 hover:text-amber-500">Sign up</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        // Check if ViewBag.Mess is not null or empty
    
        var showMessage = '@(ViewBag.Mess != null && !string.IsNullOrEmpty(ViewBag.Mess))' ;
        

        function showAlert() {
            var alertDiv = document.getElementById('alertDiv');
            alertDiv.style.display = 'flex'; // Show the alert

            // Trigger a reflow to enable the transition
            alertDiv.offsetHeight;

            alertDiv.classList.add('visible');

            setTimeout(function () {
                alertDiv.classList.remove('visible'); // Hide the alert after 3 seconds
            }, 3000);
        }
        // Call showAlert if showMessage is true
        if (showMessage) {
            showAlert();
        }
    </script>

</body>
</html>
