@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<head>
    <title>@ViewData["Title"] - Organic Mind</title>
    <!-- Add your head content here -->
    @* <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" /> *@
    <link rel="icon" type="image/x-icon" href="~/image/icon/logo-web.ico">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-full">
    <main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
        <div class="text-center">
            <p class="text-base font-semibold text-amber-600">404</p>
            <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Page not found</h1>
            <p class="mt-6 text-base leading-7 text-gray-600">@(ViewData["mess"] != null ? ViewData["mess"]: "Sorry, we couldn’t find the page you’re looking for.")</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="/auth/index" class="rounded-md bg-amber-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-amber-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-600">Go back home</a>
                <a href="#" class="text-sm font-semibold text-gray-900">Contact support <span aria-hidden="true">&rarr;</span></a>
            </div>
        </div>
    </main>
</body>
