@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Partial("~/Views/Common/Head.cshtml")
    <title>Collapsed Sidebar</title>
</head>
<body class="font-sans">
    <div id="mySidebar" class="sidebar fixed h-[95%] w-0 top-5 right-0 bg-white border-2 transition-all duration-500 overflow-x-hidden">
        <a href="javascript:void(0)" class="closebtn absolute top-0 left-5 text-black text-3xl" onclick="closeNav()">×</a>
        <div href="#" class="mt-10 py-2 pl-8 block transition duration-300 ">
            heelo
        </div>
        @* <a href="#" class="text-gray-300 py-2 pl-8 block transition duration-300 hover:text-white">Services</a>
        <a href="#" class="text-gray-300 py-2 pl-8 block transition duration-300 hover:text-white">Clients</a>
        <a href="#" class="text-gray-300 py-2 pl-8 block transition duration-300 hover:text-white">Contact</a> *@
    </div>

    <div id="main" class="transition-all duration-500 ">
        <div class="m-5 bg-white h-[80vh] grid grid-cols-4">
            @* sidebar *@
            @Html.Partial("~/Views/Common/SideBar.cshtml")
            <div class=" col-span-3 rounded-3xl p-10 overflow-scroll ">
                <button class="openbtn text-white text-lg cursor-pointer bg-black px-4 py-3 border-none" onclick="openNav()">☰ Open Sidebar</button>
                <h2 class="text-3xl mt-4">Collapsed Sidebar</h2>
                <p class="mt-2">Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p>
            </div>
        </div>
    </div


    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "500px";
            document.getElementById("main").style.marginRight = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginRight = "0";
        }
    </script>

</body>
</html>

